/*Chrome*/
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input[type="range"] {
    /* overflow: hidden; */
    width: 100%;
    -webkit-appearance: none;
    @apply bg-myGreen-300;
  }

  input[type="range"]::-webkit-slider-runnable-track {
    height: 6px;
    -webkit-appearance: none;
    color: #b2b2b2;
    margin-top: -1px;
  }

  input[type="range"]::-webkit-slider-thumb {
    @apply bg-myGreen-300 rounded-full;
    width: 20px !important;
    -webkit-appearance: none;
    height: 20px !important;
    border: 4px solid white;
    cursor: pointer;
    margin-top: -6px;
  }
}
/** FF*/
input[type="range"]::-moz-range-progress {
  background-color: #100247;
}
input[type="range"]::-moz-range-track {
  @apply bg-myGreen-300;
}
/* IE*/
input[type="range"]::-ms-fill-lower {
  background-color: #000000;
}
input[type="range"]::-ms-fill-upper {
  @apply bg-myGreen-300;
}
.rangeslider .max{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}.rangeslider .min{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}