/* classes component */

/* top title */
.top-title {
  color: var(--colorGreen3);
  font-size: 16px;
  position: relative;
  font-family: var(--medium);
  padding: 0 13px 0 0;
}
.top-title::before {
  content: "";
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: var(--colorGreen1);
  position: absolute;
  top: 10px;
  right: 0;
}
