@tailwind base;
@tailwind components;
@tailwind utilities;
/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* radio box */
input[type="radio"] {
  /* accent-color: var(--colorGreen1);
  width: 20px;
  height: 20px; */
  -webkit-appearance: none;
  background-color: var(--colorWhite);
  width: 22px;
  height: 22px;
  border-radius: 50%;
  outline: none;
  border: 2px solid var(--colorGreen3);
}
input[type="radio"]:before {
  content: "\2713";
  color: #fff;
  display: block;
  text-align: center;
  opacity: 0;
  transform: rotate(90deg);
  transition: opacity 0.5s, transform 0.3s;
}
input[type="radio"]:checked:before {
  opacity: 1;
  transform: rotate(0);
}
input[type="radio"]:checked {
  background-color: var(--colorGreen1);
  border-color: var(--colorGreen1);
}

/*  input numbers */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}
/* check box */
input[type="checkbox"] {
  /* accent-color: var(--colorGreen1);
  width: 20px;
  height: 20px; */
  -webkit-appearance: none;
  background-color: var(--colorWhite);
  width: 18px;
  height: 18px;
  border-radius: 50%;
  outline: none;
  border: 2px solid var(--colorGreen3);
}
input[type="checkbox"]:before {
  content: "\2713";
  color: #fff;
  display: block;
  text-align: center;
  opacity: 0;
  transform: rotate(90deg);
  transition: opacity 0.5s, transform 0.3s;
}
input[type="checkbox"]:checked:before {
  opacity: 1;
  transform: rotate(0);
}
input[type="checkbox"]:checked {
  background-color: var(--colorGreen1);
  border-color: var(--colorGreen1);
}

/* input auth */
.inputs-auth {
  color: var(--colorGreen3);
}
.inputs-auth:focus {
  outline: 1px solid var(--colorGreen3) !important;
 
}
/* body */
body {
  background-color: var(--colorGreen4);
}

/* fonts */
@font-face {
  font-family: "sans";
  src: url("./assets/fonts/IRANSansWeb_FaNum.ttf");
}
@font-face {
  font-family: "sansMed";
  src: url("./assets/fonts/IRANSansWeb_FaNum_Medium.ttf");
}
@font-face {
  font-family: "sansLight";
  src: url("./assets/fonts/IRANSansWeb_FaNum_Light.ttf");
}
@font-face {
  font-family: "sansBold";
  src: url("./assets/fonts/IRANSansWeb_FaNum_Bold.ttf");
}

/* container */
.container {
  max-width: 1300px;
  margin: auto !important;
}
.con-fluid {
  width: 100%;
}
.img-fluid {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

:root {
  /* font */
  font-family: "sans", sans-serif;
  /* colors */
  --colorGreen1: #07c196;
  --colorGreen2: #00c194;
  --colorGreen3: #00a376;
  --colorGreen4: #eaf7f4;
  --colorBlue: #082039;
  --colorBlack: #212121;
  --colorGrayTa: #70778b;
  --colorGrayTb: lightgray;
  --colorGrayTc: #a2a2a2;
  --colorWhite: #ffffff;

  /* fonts */
  --bold: "sansBold";
  --medium: "sansMed";
  --light: "sansLight";
}

/* class fonts */
.s-bold {
  font-family: var(--bold);
}
.s-medium {
  font-family: var(--medium);
}
.s-light {
  font-family: var(--light);
}

/* color */
.c-green-1 {
  color: var(--colorGreen1);
}
.c-green-2 {
  color: var(--colorGreen2);
}
.c-green-3 {
  color: var(--colorGreen3);
}
.c-green-4 {
  color: var(--colorGreen4);
}
.c-blue {
  color: var(--colorBlue);
}
.c-black {
  color: var(--colorBlack);
}
.c-white {
  color: var(--colorWhite) !important;
}
.c-gray-1 {
  color: var(--colorGrayTa);
}
.c-gray-2 {
  color: var(--colorGrayTb);
}
.c-gray-3 {
  color: var(--colorGrayTc);
}

/* bg color */

.bg-green-1 {
  background-color: var(--colorGreen1);
}
.bg-green-2 {
  background-color: var(--colorGreen2);
}
.bg-green-3 {
  background-color: var(--colorGreen3);
}
.bg-green-4 {
  background-color: var(--colorGreen4);
}
.bg-blue {
  background-color: var(--colorBlue);
}
.bg-black {
  background-color: var(--colorBlack);
}
.bg-white {
  background-color: var(--colorWhite);
}
.bg-gray-1 {
  background-color: var(--colorGrayTa);
}
.bg-gray-2 {
  background-color: var(--colorGrayTb);
}
.bg-gray-3 {
  background-color: var(--colorGrayTc);
}

/* fill color */

.fill-green-1 {
  color: var(--colorGreen1);
}
.fill-green-2 {
  color: var(--colorGreen2);
}
.fill-color-3 {
  color: var(--colorGreen3);
}
.fill-blue {
  color: var(--colorBlue);
}
.fill-black {
  color: var(--colorBlack);
}
.fill-white {
  color: var(--colorWhite);
}
.fill-gray-1 {
  color: var(--colorGrayTa);
}
.fill-gray-2 {
  color: var(--colorGrayTb);
}
.fill-gray-3 {
  color: var(--colorGrayTc);
}
/* font size */
h1 {
  font-size: 35px;
}

/* cursor */
.pointer{
    cursor: pointer;
}
@media screen and (max-width: 768px) {
  /* font size mobile */
  h1 {
    font-size: 25px;
  }
}

@media screen and (max-width: 992px) {
}

@media screen and (min-width: 768px) {
}
